{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="home">
        <h1>FULL STACK DEVELOPER</h1>
        <div  class="section">
            <img src="{% static 'img/Full Stack.png' %}" alt="">
            <p>A full-stack developer is a software developer who is proficient in both frontend and backend development. This means they can work on the entire technology stack of a web application, from designing user interfaces to managing databases and server-side logic.</p>
        </div>
        <h2>FRONT-END DEVELOPER</h2>
        <div class="section">
            <img src="{% static 'img/Frontend.jpg' %}" alt="">
            <p>A frontend developer focuses on the client-side of web applications, meaning everything that users interact with directly in their browsers. Their main goal is to create a visually appealing, responsive, and user-friendly experience.</p>
        </div>
        <h2>BACK-END DEVELOPER</h2>
        <div class="section">
            <img src="{% static 'img/Backend.png' %}" alt="">
            <p>A backend developer focuses on the server-side of web applications, managing the database, server, and application logic that work behind the scenes to deliver a functional web experience. Their primary goal is to ensure that the server, application, and database communicate effectively.
            </p>
        </div>
    </div>
{% endblock %}