{% extends 'base.html' %}
{% load static %}

{% block title %}
    Available Profiles
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_detail.css' %}">
{% endblock %}

{% block content %}
    <h1>{{profile.name}}</h1>
    <h5>{{profile.phone_number}}</h5>
    <h6>{{profile.city}}</h6>
    <h6>{{profile.state}}</h6>
    <h6>{{profile.user}}</h6>
    <p>{{profile.description}}</p>
    <small>{{profile.created_at}}</small>
    <br>

    {% if user.is_authenticated %}
    {% if profile.user == request.user or request.user.is_superuser %}
    <a href="{% url 'profile_update' profile.id %}" class="btn btn-primary" style="margin-top: 10px;">Edit Profile</a>
    <button type="button" data-bs-toggle="modal"
    data-bs-target="#deleteModal-{{ profile.pk }}" class="btn btn-danger" style="margin-top: 10px;">
    Delete Profile
    </button>
    {% endif %}
    {% endif %}

    {% if profile.user == request.user or request.user.is_superuser %}
    <div class="modal fade" id="deleteModal-{{ profile.pk }}" tabindex="-1"
        aria-labelledby="deleteModalLabel-{{ profile.pk }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel-{{ profile.pk }}">Are you sure you
                        want to delete this profile?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this profile? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <!-- Delete form -->
                    <form action="{% url 'profile_delete' profile.pk %}" method="POST"
                        id="delete-profile-form-{{ profile.pk }}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
