{% extends 'base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile_list.css' %}">
{% endblock %}

{% block content %}
<div class="post-list">
    <div class="header">
        <h1>Profiles</h1>
    </div>

    <div class="filter">
        <form class="d-flex" role="search" method="get">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            <a class="btn btn-outline-primary" href="{% url 'profile_create' %}">Create New Profile</a>
        </form>
    </div>

    <div class="container">
        <div class="row" style="display: flex; justify-content: center;">
            {% for item in profile_list %}
            <div class="col-md-3 col-sm-6 bottom-card" style="display: flex; justify-content: center; margin-bottom: 10px;">
                <div class="card" style="width: 18rem; margin-top: 15px;">
                    <div class="card-body">
                        {% if item.picture %}
                        <img class="image-format" src="{{ item.picture.url }}" alt="">
                        {% else %}
                        <img class="image-format" src="{% static 'img/default.jpg' %}" alt="">
                        {% endif %}
                        <h5 class="card-title">{{item.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondarydy">Telephone: {{item.phone_number}}</h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Author: {{item.user}}</h6>
                        <p class="card-text">About: {{item.description|truncatechars:20}}</p>
                        <small>{{item.created_at}}</small><br/>
                        <a href="{% url 'profile_detail' item.id %}" class="card-link">Watch profile...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}