.about{
    padding-top: 30px;
    max-width: 500px;
    margin: auto;
    margin-right: auto;
    text-align: center;
}



.about h4{
    color: #6a6b6c;
    margin-bottom: 0;
    margin-top: 12px;
}

.about h1{
    color: darkcyan;
    font-weight: bold;
}

/* dev images */
.dev-images img{
    border-radius: 45%;
}

.dev-images-container{
    display: flex;
    justify-content: center;
}

.samuel{
    width: 65%;
}

.christian{
    width: 50%;
}

/* blog information */



@media screen and (max-width: 767px){
    .dev-images{
        width: 70%;
    }
    .christian{
        width: 70%;
    }

    .blog-container{
        text-align: justify;
        text-justify: inter-word;
    }
}