.contact-section{
    padding-top: 1rem;
}

.contact-section form{
    padding-top: 1.5rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.110);
    border-radius: 4px;
    padding: 20px 30px 10px 20px;
    margin-top: 2rem;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.contact-section .field{
    margin-bottom: 0.5rem;
    width: 100%;
}

.contact-section .field button{
    margin-top: 10px;
}

.contact-section .field label{
    display: block;
    color: var(--neutral-color);
}

.contact-section .field input,
.contact-section .field textarea{
    width: 100%;
    padding: 5px;
}

.contact-section h1{
    text-align: center;
    color: var(--primary-color);
}

@media screen and (max-width:767px) {
    .contact-section form{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}