.navbar{
    background-color: var(--primary-color) !important;
    color: white !important;
}

.navbar-brand, .nav-link{
    color: white !important;
}

.container-fluid{
    padding-right: calc(var(--bs-gutter-x)* .5) !important;
    padding-left: calc(var(--bs-gutter-x)* .5) !important;
}