.navbar{
    background-color: var(--primary-color) !important;
    color: white !important;
}

.navbar-brand, .nav-link{
    color: white !important;
}

.navbar-brand img{
    max-width: 50%;
    align-items: center;
    margin-left: 20px;
    color: white;
    filter: brightness(0) invert(1);
}

.nav-link {
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.1);
}

.username{
    color: white !important;
    border-bottom: 1px solid white;
}

@media screen and (max-width:767px){
    .d-flex{
        justify-content: flex-end;
    }
}