
.post-list{
    font-size: larger;
    font-weight: bolder;
}

.post-list .header{
    display: flex;
    align-items: center;
}

.post-list .header h1{
    flex: 1;
    text-align: center;
    color: var(--primary-color);
    margin-left: 160px;
}

form button{
    margin-right: 10px;
}

.post-list .header a{
    margin-right: 2rem;
}


.post-list .card{
    width: 100%;
    margin-top: 15px;
}

.text-secondary{
    margin-left: 20px;
}

.card{
    border: none;
    padding: 0.5rem;
}

.delete-post-btn{
    position:absolute;
    right:3.125rem;
}

.post-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.664);  
    padding: 20px;
    border-radius: 10px;
}

.text-body-secondary{
    color: white !important;
}


@media screen and (max-width: 767px){
    .post-list .card{
        width: calc(100% - 24px);
    }

    .post-list .card h5{
        text-align: center;
        font-size: 26px;
    }

    .post-list .card h6{
        text-align: center;
    }

    .post-list .card a{
        margin-top: 0.7rem;
        display: block;
        text-align: right;
    }

    .post-list .header h1{
        text-align: left;
        padding-top: 0.5rem;
        margin-left: 0;
    }

    .post-list .container{
        margin-bottom: 0.7rem;
    }

    .post-list .header a{
        margin-right: 0;
    }
}