
.post-list{
    font-size: larger;
    font-weight: bolder;
}

.post-list .header{
    display: flex;
    align-items: center;
}

.post-list .header h1{
    flex: 1;
    text-align: center;
    color: var(--primary-color);
    margin-left: 160px;
}

.post-list .header a{
    margin-right: 2rem;
}


.post-list .card{
    width: 100%;
    margin-top: 15px;
}

.post-card {
    background-size: cover;  /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* No repite la imagen */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;  /* El texto será blanco sobre el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-body {
    background-color: rgba(0, 0, 0, 0.664);  
    padding: 20px;
    border-radius: 10px;
}

.text-body-secondary{
    color: white !important;
}


@media screen and (max-width: 767px){
    .post-list .card{
        width: calc(100% - 24px);
    }

    .post-list .card h5{
        text-align: center;
        font-size: 26px;
    }

    .post-list .card h6{
        text-align: center;
    }

    .post-list .card a{
        margin-top: 0.7rem;
        display: block;
        text-align: right;
    }

    .post-list .header h1{
        text-align: left;
        padding-top: 0.5rem;
        margin-left: 0;
    }

    .post-list .container{
        margin-bottom: 0.7rem;
    }

    .post-list .header a{
        margin-right: 0;
    }
}